/* Variables */

:root {

    /* Colors */
    --light-red: #FBA9A9;
    --light-orange: #FACCB0;
    --light-green: #D8EDB4;
    --light-blue: #A7E8DA;
    --light-purple: #C4B8F0;
    --light-mono: #EDEDED;

    --dark-red: #330201;
    --dark-orange: #311503;
    --dark-green: #282E23;
    --dark-blue: #0B2923;
    --dark-purple: #18123B;
    --dark-mono: #161616;

    /* Light mode variables */
    --bg-red: var(--light-red);
    --bg-orange: var(--light-orange);
    --bg-green: var(--light-green);
    --bg-blue: var(--light-blue);
    --bg-purple: var(--light-purple);
    --bg-mono: var(--light-mono);

    --fg-red: var(--dark-red);
    --fg-orange: var(--dark-orange);
    --fg-green: var(--dark-green);
    --fg-blue: var(--dark-blue);
    --fg-purple: var(--dark-purple);
    --fg-mono: var(--dark-mono);

    --svg-filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(249%) hue-rotate(352deg) brightness(101%) contrast(80%);

    
    --warning-gradient: linear-gradient(90deg, var(--bg-red) 55%, transparent 98%, transparent 100%);
    --notice-gradient: linear-gradient(90deg, var(--bg-orange) 55%, transparent 98%, transparent 100%);

    /* Fonts */
    --font-serif: "Playfair Display", "Iowan Old Style", "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-sans: -apple-system, BlinkMacSystemFont, "avenir next", "avenir", "segoe ui", "helvetica neue", "helvetica", "Cantarell", "Ubuntu", "roboto", "noto", "arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-mono: "JetBrains Mono", "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
    
}

/* Dark Mode Variables */

@media (prefers-color-scheme: dark) {
    :root {
        --bg-red: var(--dark-red);
        --bg-orange: var(--dark-orange);
        --bg-green: var(--dark-green);
        --bg-blue: var(--dark-blue);
        --bg-purple: var(--dark-purple);
        --bg-mono: var(--dark-mono);

        --fg-red: var(--light-red);
        --fg-orange: var(--light-orange);
        --fg-green: var(--light-green);
        --fg-blue: var(--light-blue);
        --fg-purple: var(--light-purple);
        --fg-mono: var(--light-mono);

        --svg-filter: brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(2206%) hue-rotate(285deg) brightness(137%) contrast(86%);
    }
}

/* Main Page */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--fg-mono);
    font-family: var(--font-sans);
    background-image: url("bg-mask.gif");
    background-size: 5%;
    background-color: var(--bg-mono);
    background-blend-mode: overlay;
}

/* Native Elements */

header {
    text-align: center;
    margin-bottom: 2rem;
}

main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

h1,h2,h3 {
    font-family: var(--font-serif);
    font-weight: 200;
}

h1 {
    font-size: 2.4em;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    border: 1px solid var(--fg-mono);
}

a {
    color: var(--fg-mono);
    text-decoration: none;
    border-bottom: 1px solid var(--fg-mono);
}

a:hover {
    background-color: var(--fg-mono);
    color: var(--bg-mono);
}

code {
    color: var(--fg-mono);
}

/* The Inline Divider. Patent Pending
 *
 * (joke, my ego isnt as fragile as an arch rice. i can handle people talking my things)
 *
 */

.inline-divider {
    display: flex;
    column-gap: 8px;
    position: relative;
}

.inline-divider * {
    flex-shrink: 0;
}

.inline-divider::after {
    content: '';
    text-align: left;
    display: inline-block;
    width: 100%;
    height: 1rem;
    background-image: url(inline.svg);
    filter: var(--svg-filter);
    align-self: center;
    margin-left: 16px;
    margin-top: 4px;
    flex-shrink: 1;
}

.inline-divider::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1rem;
    background-image: url(inline.svg);
    filter: var(--svg-filter);
    align-self: center;
    margin-right: 16px;
    margin-top: 4px;
    flex-shrink: 1;
}

/* Disclaimers (will change to "Notice Boxes" to have more colors) */

.disclaimer {
    font-family: var(--font-sans);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.disclaimer h4 {
    margin: 0;
}

.d-warning {
    color: var(--fg-red);
    transition: 200ms ease infinite;
    animation: bg-move 4s infinite;
    background: var(--warning-gradient);
    border-left: 4px solid var(--fg-red);
}

.d-notice {
    color: var(--fg-orange);
    background: var(--notice-gradient);
    border-left: 4px solid var(--fg-orange);
}

/* Post Elements */

.post-location-nav {
    display: flex;
    justify-content: space-around;
    min-height: 4em;
    margin: 1em;
}

.post-location-nav .next-post, .post-location-nav .prev-post {
    position: relative;
    display: flex;
    flex-direction: column;
}

.post-location-nav .next-post {
    align-self: flex-start;
}

.post-location-nav .prev-post {
    align-self: flex-end;
}

.post-location-nav .prev-post::before, .post-location-nav .next-post::before {
    position: absolute;
    word-break: keep-all;
    font-size: 3em;
    opacity: 0.3;
}

/* Reduced Motion Query */

@media (prefers-reduced-motion: reduce) {
    body {
        background-image: url("bg-mask.jpg");
    }
}

/* High Contrast Query */

@media (prefers-contrast: more) {

}

/* Printers Query (potentially gimmicky) */

@media print {
    
}  