:root {
    --bg-red: #FBA9A9;
    --bg-orange: #FACCB0;
    --bg-green: #D8EDB4;
    --bg-blue: #A7E8DA;
    --bg-purple: #C4B8F0;
    --bg-mono: #EDEDED;

    --fg-red: #330201;
    --fg-orange: #311503;
    --fg-green: #282E23;
    --fg-blue: #0B2923;
    --fg-purple: #18123B;
    --fg-mono: #111111;

    --svg-filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(249%) hue-rotate(352deg) brightness(101%) contrast(80%);

    --warning-gradient: linear-gradient(60deg, var(--bg-red) 30%, transparent 95%, transparent 100%);
    --notice-gradient: linear-gradient(60deg, var(--bg-orange) 30%, transparent 95%, transparent 100%);

    --font-serif: Playfair Display, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --font-mono: JetBrains Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-red: #FBA9A9;
        --fg-orange: #FACCB0;
        --fg-green: #D8EDB4;
        --fg-blue: #A7E8DA;
        --fg-purple: #C4B8F0;
        --fg-mono: #EDEDED;
    
        --bg-red: #330201;
        --bg-orange: #311503;
        --bg-green: #282E23;
        --bg-blue: #0B2923;
        --bg-purple: #18123B;
        --bg-mono: #111111;

        --svg-filter: brightness(0) saturate(100%) invert(100%) sepia(28%) saturate(2206%) hue-rotate(285deg) brightness(137%) contrast(86%);
    }
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--fg-mono);
    font-family: var(--font-sans);
    background-image: url("bgmask.gif");
    background-size: 5%;
    background-color: var(--bg-mono);
    background-blend-mode: hard-light;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

main {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

h1,h2,h3 {
    font-family: var(--font-serif);
    font-weight: 200;
}

h1 {
    font-size: 2.4em;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

hr {
    border: 1px solid var(--fg-mono);
}

a {
    color: var(--fg-mono);
    text-decoration: none;
    border-bottom: 1px solid var(--fg-mono);
}

a:hover {
    background-color: var(--fg-mono);
    color: var(--bg-mono);
}

/* The Inline Divider. Patent Pending
 *
 * (joke, my ego isnt as fragile as an arch rice. i can handle people talking my things)
 *
 */

.inline-divider {
    display: flex;
    column-gap: 8px;
    position: relative;
}

.inline-divider * {
    flex-shrink: 0;
}

.inline-divider::after {
    content: '';
    text-align: left;
    display: inline-block;
    width: 100%;
    height: 1rem;
    background-image: url(inline.svg);
    filter: var(--svg-filter);
    align-self: center;
    margin-left: 16px;
    margin-top: 4px;
    flex-shrink: 1;
}

.inline-divider::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1rem;
    background-image: url(inline.svg);
    filter: var(--svg-filter);
    align-self: center;
    margin-right: 16px;
    margin-top: 4px;
    flex-shrink: 1;
}

/* Disclaimers */

.disclaimer {
    font-family: var(--font-sans);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.disclaimer h4 {
    margin: 0;
}

.d-warning {
    color: var(--fg-red);
    transition: 200ms ease infinite;
    animation: bg-move 4s infinite;
    background: var(--warning-gradient);
    border-left: 4px solid var(--fg-red);
}

.d-notice {
    color: var(--fg-orange);
    background: var(--notice-gradient);
    border-left: 4px solid var(--fg-orange);
}

/* Post-specific */

.post-location-nav {
    display: flex;
    justify-content: space-around;
    min-height: 4em;
    margin: 1em;
}

.post-location-nav .next-post, .post-location-nav .prev-post {
    position: relative;
    display: flex;
    flex-direction: column;
}

.post-location-nav .next-post {
    align-self: flex-start;
}

.post-location-nav .prev-post {
    align-self: flex-end;
}

.post-location-nav .prev-post::before, .post-location-nav .next-post::before {
    position: absolute;
    word-break: keep-all;
    font-size: 3em;
    opacity: 0.3;
}

code {
    color: var(--fg-mono);
}

/* Media Queries */

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("bgmask-dark.gif");
    }
}
@media (prefers-reduced-motion) {
    body {
        background-image: none;
    }
}